@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --text: #ffffff;
    --main-col: #d3ad7f;
    --header: 75px;
}

* {
    font-family: 'Poppins', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    list-style-type: none;
    user-select: none;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header);
}

body {
    background: #272727;
    padding: 0 12.5%;
    min-height: 100vh;
}

a {
    color: var(--text);
}

a:active, .navbar ul a:any-link {
    color: var(--text);
}

.profil:hover, 
.navbar li a:hover, 
a:hover i, 
a:hover
{
    color: var(--main-col);
}

/* class */
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* __________ header __________*/
header {
    height: var(--header);
    width: calc(100% - (12.5% * 2));
    border-bottom: 1px solid #4D4D4D;
    justify-content: space-between !important;
    position: fixed;
    top: 0;
    z-index: 10;
    color: var(--text);
    background: #272727;
}

.profil {
    font-size: 24px;
    z-index: 11;
}

.navbar {
    height: inherit;
    font-size: 16px;
    gap: 36px;
}

.navbar a {
    opacity: 85%;
}

#btn-navbar {
    display: none;
    z-index: 11;
}

/* __________ main __________*/
main {
    margin-top: var(--header);
}

.section-1 {
    height: calc(100vh - var(--header));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px 0;
}

.section-1 h1 {
    width: 100%;
    font-size: 3rem;
    background: -webkit-linear-gradient(#52EE84, #4CA9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-1 .article {
    width: 100%;
    display: grid;
    color: var(--text);
    opacity: 75%;
}

.article-image, .article-box {
    padding: 5px 20px;
}

.section-1 .article-image img {
    height: 150px;
    border-radius: 50%;
}

.section-1 .article-box p {
    display: flex; gap: 10px;
}

.section-1 .article p {
    opacity: 60%;
    text-align: justify;
}

.article-language {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
}

.article-1 {
    grid-template-columns: 20% 50% 30% !important;
}

.article-2 {
    grid-template-columns: 100% !important;
}

/* Desktop styles */
@media screen and (min-width: 767px) {
    section {
        height: calc(100vh - var(--header));
    }
}

/* Tablet styles */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    html {
        font-size: 80%;
    }
}

/* Mobile styles */
@media screen and (max-width: 767px) {
    html {
        font-size: 75%;
    }
    body {
        padding: 0 5%;
    }
    header {
        width: calc(100% - (5% * 2));
    }
    #btn-navbar {
        display: flex;
    }
    .icon-navbar {
        display: flex !important;
    }
    .hidden {
        margin-top: -100vh;
    }
    .navbar {
        height: calc(100vh - var(--header));
        width: 100%;
        position: absolute;
        top: var(--header);
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: left;
        transition: all 0.3s ease;
        background: #272727;
    }

    .section-1 h1 {
        font-size: 2rem;
    }

    .section-1 {
        height: calc(100vh - var(--header));
        padding-bottom: 50px;
        gap: 10px;
    }

    .article-1 {
        grid-template-columns: 100% !important;
    }

    .article-2 {
        grid-template-columns: 100% !important;
        flex-grow: 1;
    }
    
    .article-box {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
    }
    
    .article-language {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .article-language div {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: left;
        gap: 5px 5px;
    }
}
